<aside id="wrap_right" class="lg:w-56 flex-shrink-0">
  <div class="border border-gray-300 bg-white mb-3">
    <div class="mz-sidebar-title px-3 py-2 text-xs font-black">【最近瀏覽】</div>
    <div class="p-3 text-xs text-gray-600">
      <div id="mz-recently-viewed-empty">暫時未有</div>
      <ul id="mz-recently-viewed" class="hidden space-y-2"></ul>
    </div>
  </div>

  <div class="border border-gray-300 bg-white">
    <div class="mz-sidebar-title px-3 py-2 text-xs font-black">【推薦】</div>
    <div class="p-2">
      <a href="/products?page=1" class="block border border-gray-200 bg-white">
        <img src="/assets/mzakka/banners/214_78(1).png" alt="推薦" class="w-full">
      </a>
    </div>
  </div>
</aside>

